
# Ignore everything else
*

# Add allowed
!.gitignore
!README.md
!zsh/
!zsh/**
!waybar/
!waybar/**
!kitty/
!kitty/**
!neofetch/
!neofetch/**

# Re-ignore sensitive files or directories
.ssh/
.gnupg/
.bash_history
.zsh_history
.lesshst
.local/
.cache/
.pki/
.git/
.npm/
.vscode/
