
# Ignore everything else
*

# Add allowed
!.gitignore
!README.md
!zsh/
!zsh/.zshrc
!kitty/
!kitty/kitty.conf
!neofetch/
!neofetch/**
!kdeglobals
!nvim/
!nvim/**

#hyprland
!hypr/
!hypr/**
hypr/wallpapers/**
hypr/plugins/**

#waybar
!waybar/
!waybar/**
waybar/state/**

#rofi - app launcher
!rofi/
!rofi/**
!my-desktop-entries/
!my-desktop-entries/*.desktop

#satty
!satty/
!satty/**

#installer
!system-installer/
!system-installer/**

# Xdg-desktop-portal
!xdg-desktop-portal/
!xdg-desktop-portal/**

# Oppeners
!mimeapps.list

# Yazi config - file manager
!yazi/
!yazi/yazi.toml
!yazi/keymap.toml


# Re-ignore sensitive files or directories
.ssh/
.gnupg/
.bash_history
.zsh_history
.lesshst
.local/
.cache/
.pki/
.git/
.npm/
.vscode/
