
# Ignore everything else
*

# Add allowed
!.gitignore
!README.md
!zsh/
!zsh/**
!kitty/
!kitty/**
!neofetch/
!neofetch/**
!hypr/
!hypr/**
hypr/bg/**
hypr/hyprlock_bg/**
!hypr/bg/city.png
!kdeglobals
!nvim/
!nvim/init.lua

#waybar
!waybar/
!waybar/**
waybar/state/**

#rofi
!rofi/
!rofi/**
!my-desktop-entries/
!my-desktop-entries/**

#satty
!satty/
!satty/**

# Re-ignore sensitive files or directories
.ssh/
.gnupg/
.bash_history
.zsh_history
.lesshst
.local/
.cache/
.pki/
.git/
.npm/
.vscode/
